<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h4 style="color: green;">Listado de Chofer</h4>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-sm btn-success mb-4 mt-4" (click)="openDialogNuevo()">Nuevo</button>
            <button class="btn btn-sm btn-success mb-4 mt-4 ml-4" (click)="cerrar()">Cerrar</button>
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control form-control-sm"  name="buscar" id="buscar"  [(ngModel)]="buscar" placeholder="Presione ENTER para Buscar por nombre, apellido o ruc" (keydown.enter)="list(buscar)">
            <table class="table table-sm table-hover">
                <thead class="bg-success text-dark">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>CI/RUC</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th *ngIf="estadoPermiso != 0">Acción</th>
                </thead>
                <tbody *ngFor="let chofer of chofer" [ngClass]="{'fila-inactiva': !chofer.estado}">
                    <td (click)="pasar(chofer)">{{chofer.id}}</td>
                    <td (click)="pasar(chofer)">{{chofer.nombre}} {{chofer.apellido}}</td>
                    <td (click)="pasar(chofer)">{{chofer.ruc}}</td>
                    <td (click)="pasar(chofer)">{{chofer.telefono}}</td>
                    <td (click)="pasar(chofer)">{{chofer.direccion}}</td>
                    <td (click)="pasar(chofer)">{{getEstadoText(chofer.estado)}}</td>
                    <td *ngIf="estadoPermiso != 0">
                        <a (click)="update(chofer)"><i class="fa fa-edit text-info mr-2" aria-hidden="true"></i></a>
                        <a (click)="delete(chofer.id)"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>