<app-menu-orden-carga></app-menu-orden-carga>
<div class="col-md-12 mt-5">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h4 style="color: green;">Listado de Orden de Carga</h4>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-sm btn-success mb-4 mt-4" routerLink="/orden-carga">Nuevo</button>
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control form-control-sm" (keydown.enter)="list(buscar)" name="buscar" id="buscar"  [(ngModel)]="buscar" placeholder="Presiona ENTER para buscar por cliente, nro de orden o ruc o CHAPA">
            <table class="table table-sm">
                <thead class="bg-success text-dark">
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Chapa</th>
                    <th>Nº Orden</th>
                    <th>Cliente</th>
                    <th>RUC</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Acción</th>
                </thead>
                <tbody *ngFor="let orden of ordenCargas" [ngClass]="{'fila-inactiva': !orden.estado}">
                    <td>{{orden.id}}</td>
                    <td>{{orden.name}}</td>
                    <td>{{ orden.fecha | date: 'dd-MM-yyyy HH:mm' }}</td>
                    <td>{{orden.tracto}}</td>
                    <td>{{orden.nroorden}}</td>
                    <td>{{orden.nombre}}</td>
                    <td>{{orden.rucc}}</td>
                    <td>{{orden.direccionorigen}}</td>
                    <td>{{orden.direcciondestino}}</td>
                    <td *ngIf="estadoPermiso == 0">
                        <a (click)="openDialogDetalle(orden.id)" class="mr-3"><i class="fas fa-download text-success"></i></a>
                    </td>
                    <td *ngIf="estadoPermiso != 0">
                        <a (click)="openDialogDetalle(orden.id)" class="mr-3"><i class="fas fa-download text-success"></i></a>
                        <a (click)="cancelar(orden.id)" *ngIf="orden.estado != 0" class="mr-3"><i class="fa fa-ban text-warning" aria-hidden="true"></i></a>
                        <a (click)="delete(orden.id)" *ngIf="orden.estado == 0" class="mr-2"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center mb-2">
            <div class="paginacion">
                <button class="pag" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                <span class="ml-2 mr-2">Página {{ currentPage }} de {{ totalPages }}</span>
                <button *ngIf="estadoValidar" class="pag"  (click)="goToPage(currentPage + 1)" disabled="disabled">Siguiente</button>
                <button *ngIf="!estadoValidar" class="pag"  (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
              </div>
        </div>
    </div>
</div>
