<app-menu-orden-carga></app-menu-orden-carga>
<div class="box">
    <div class="container">
     	<div class="col-md-8 mx-auto">
            <div class="row">
			    <div class="col-md-6">
               
					<div class="box-part text-center">
                        
                        <img src="assets/img/reporte1.png" alt="">
                        
                        <div class="col-md-12">
                            <a class="repo h5 mt-3" routerLink="/reporte-orden-carga">Reporte de Orden de Carga</a>
                        </div>
                        
					 </div>
				</div>	 
				
				 <div class="col-md-6">
               
					<div class="box-part text-center">
					    
					    <img src="assets/img/reporte2.png" alt="">
                        <div class="col-md-12">
                            <a class="repo h5 mt-3"  routerLink="/reporte-camiones">Reporte de Camiones</a>
                        </div>
                        
					 </div>
				</div>	 
		
		</div>	
        </div>	
    </div>
</div>