<app-menu-orden-carga></app-menu-orden-carga>
<div class="col-md-12 mt-5">
    <form novalidate (ngSubmit)="save();" #ordenCargaForm="ngForm">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h4 style="color: green;">Orden de Carga</h4>
            <hr>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button class="btn btn-sm btn-success mb-4 mt-4 mr-4" routerLink="/list-orden-carga" type="button">Volver</button>
            <button class="btn btn-sm btn-success mb-4 mt-4" type="submit" [disabled]="!ordenCargaForm.valid">Registrar</button>
        </div>          
        <div class="col-md-4">
            <img class="logo-orden" src="../../../../assets/img/logo.png" alt="">
        </div>
        <div class="col-md-4">
            <div class="form-group row mb-1">
                <label for="cliente" class="col-form-label col-sm-2">Cliente:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-1">
                        <input type="text" id="nombre" name="nombre" placeholder="Selecciona un cliente"  [(ngModel)]="ordenCarga.nombrec" #nombre="ngModel" class="form-control form-control-sm" disabled="disabled">
                        <button class="btn btn-outline-success btn-sm" (click)="openDialogCliente()" type="button">Buscar</button>
                    </div>                      
                </div>
            </div>

            <div class="form-group row mb-1">
                <label for="carga" class="col-form-label col-sm-2">Carga:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Selecciona un tipo de carga"  name="descripcionCarga" id="descripcionCarga"  [(ngModel)]="ordenCarga.descripcionca" #descripcionCarga="ngModel" disabled="disabled">
                        <button class="btn btn-outline-success btn-sm" (click)="openDialogCarga()" type="button" id="button-addon2">Buscar</button>
                    </div> 
                </div>
            </div>
            
            <div class="form-group row mb-1">
                <label for="origen" class="col-form-label col-sm-2">Origen:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Selecciona un origen" name="descripcionOrigen" id="descripcionOrigen"  [(ngModel)]="ordenCarga.descripciono" #descripcionOrigen="ngModel" disabled="disabled">
                        <button class="btn btn-outline-success btn-sm" (click)="openDialogDireccion(1)" type="button">Buscar</button>
                    </div> 
                </div>
            </div>
            
            <div class="form-group row mb-1">
                <label for="destino" class="col-form-label col-sm-2">Destino:</label>
                <div class="col-sm-10">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Selecciona un destino" name="descripcionDestino" id="descripcionDestino"  [(ngModel)]="ordenCarga.descripciond" #descripcionDestino="ngModel" disabled="disabled">
                        <button class="btn btn-outline-success btn-sm" (click)="openDialogDireccion(2)" type="button">Buscar</button>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row mb-2">
                <label for="ruc" class="col-form-label col-sm-3">RUC:</label>
                <div class="col-sm-9">
                    <label for="ruc" class="form-control form-control-sm">{{ordenCarga.rucc}}</label>
                </div>
            </div>
                        
            <div class="form-group row mb-1">
                <label for="nroref" class="col-form-label col-sm-3">Nº Ref:</label>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm" type="number" id="nroref" name="nroref" [(ngModel)]="ordenCarga.nroref" #nroref="ngModel">
                </div>
            </div>

            <div class="form-group row mb-1">
                <label for="notas" class="col-form-label col-sm-3">Notas:</label>
                <div class="col-sm-9">
                    <input class="form-control form-control-sm" type="text" name="notas" id="notas"  [(ngModel)]="ordenCarga.notas" #notas="ngModel">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-3">Tracto:</label>
                <div class="col-sm-9">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Selecciona un Tractocamión" id="tracto" name="tracto" [(ngModel)]="ordenCarga.tracto" #tracto="ngModel" disabled="disabled">
                        <button class="btn btn-outline-success btn-sm" (click)="openDialogCamion()" type="button">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-3">Año:</label>
                <div class="col-sm-9">
                    <label class="form-control form-control-sm">{{ordenCarga.anno}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-3">Ejes:</label>
                <div class="col-sm-9">
                    <label class="form-control form-control-sm">{{ordenCarga.ejes}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-3">Carreta:</label>
                <div class="col-sm-9">
                    <label class="form-control form-control-sm">{{ordenCarga.carreta}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Marca:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.descripcionmarca}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Color:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.color}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Tara:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.tara}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Marca:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.descripcionmarcacarreta}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Modelo:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.modelo}}</label>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label for="cant" class="col-form-label col-sm-2">Chassis:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.chassis}}</label>
                </div>
            </div>
            <div class="form-group row mb-1  mt-5">
                <label for="cant" class="col-form-label col-sm-2">Tipo:</label>
                <div class="col-sm-10">
                    <label class="form-control form-control-sm">{{ordenCarga.tipo}}</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row mb-1">
                        <label for="cant" class="col-form-label col-sm-2">Chofer:</label>
                        <div class="col-sm-10">
                            <label class="form-control form-control-sm">{{ordenCarga.nombrechofer}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mb-1">
                                <label for="cant" class="col-form-label col-sm-2">C.I.:</label>
                                <div class="col-sm-10">
                                    <label class="form-control form-control-sm">{{ordenCarga.rucchofer}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mb-1">
                                <label for="cant" class="col-form-label col-sm-2">Tel.:</label>
                                <div class="col-sm-10">
                                    <label class="form-control form-control-sm">{{ordenCarga.telefonochofer}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row mb-1">
                        <label for="cant" class="col-form-label col-sm-2">Propietario:</label>
                        <div class="col-sm-10">
                            <label class="form-control form-control-sm">{{ordenCarga.nombrepropietario}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mb-1">
                                <label for="cant" class="col-form-label col-sm-2">RUC:</label>
                                <div class="col-sm-10">
                                    <label class="form-control form-control-sm">{{ordenCarga.rucpropietario}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row mb-1">
                                <label for="cant" class="col-form-label col-sm-2">Direc.:</label>
                                <div class="col-sm-10">
                                    <label class="form-control form-control-sm">{{ordenCarga.direccionpropietario}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>


<!----------reporte -->
<div id="htmlData" class="contenedor posicion">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <img class="logo-report" src="../../../../assets/img/logo.png" alt="logo">
            </div>
            <div class="col-md-3">
                <h4 class="text-dark pciervo">EL CIERVO S.A.</h4>
                <p class="preport">RUC: 80086510-3</p>
                <p class="preport">Avd. 14 de mayo y 1º de marzo</p>
                <p class="preport">Tel.: 0985 895 188</p>
                <p class="preport">logistica@elciervosa.com.py</p>
            </div>
            <div class="col-md-2">
                <ngx-qrcode
                    [elementType]="elementType"
                    [value]="value"
                    cssClass="aclass"
                    [errorCorrectionLevel]="errorCorrectionLevel">
                </ngx-qrcode>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="text-dark">ORDEN DE CARGA</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                <p class="preport">Nº:</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="preport">{{ordenCarga.nroorden}}</p>
                            </div>
                            <div class="col-6 text-left">
                                <p class="preport">Fecha:</p>
                            </div>
                            <div class="col-6 text-right">
                                <p class="preport">{{ordenCarga.fecha | date: 'dd-MM-yyyy HH:mm'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <p>VALIDO POR 3 DIAS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="phr">
    <div class="col-md-12">
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p class="preport">Cliente:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="preport">{{ordenCarga.nombrec}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="preport">Carga:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="preport">{{ordenCarga.descripcionca}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="preport">Origen:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="preport">{{ordenCarga.descripciono}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="preport">Destino:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="preport">{{ordenCarga.descripciond}}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <p class="preport">Notas:</p>
                    </div>
                    <div class="col-md-10">
                        <p class="preport">{{ordenCarga.notas}}</p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="preport">Nº Ref:</p>
                    </div>
                    <div class="col-md-8">
                        <p class="preport">{{ordenCarga.nroref}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        <p class="preport">RUC:</p>
                    </div>
                    <div class="col-md-9">
                        <p class="preport">{{ordenCarga.rucc}}</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <hr class="phr">
    <div class="col-md-12 mb-2 mt-2">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Tractor:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.tracto}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Año:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.anno}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Ejes:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.ejes}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Marca:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.descripcionmarca}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Color:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.color}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Tara:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{ordenCarga.tara}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-3">
                       <P>Modelo:</P>
                    </div>
                    <div class="col-md-9">
                        <P>{{ordenCarga.modelo}}</P>
                    </div>
                    <div class="col-md-3">
                        <P>Chassis:</P>
                    </div>
                    <div class="col-md-9">
                        <P>{{ordenCarga.chassis}}</P>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-3">
                        <p class="preport">Cant.:</p>
                    </div>
                    <div class="col-md-9">
                        <p class="preport">{{cantidadFormato}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Carreta:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ordenCarga.carreta}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Marca:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ordenCarga.descripcionmarcacarreta}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Tipo:</p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ordenCarga.tipo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <p>Chofer:</p>
                    </div>
                    <div class="col-md-11">
                        <p class="pl-3">{{ordenCarga.nombrechofer}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <p>C.I.:</p>
                            </div>
                            <div class="col-md-10">
                                <p>{{ordenCarga.rucchofer}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <p>Tel.:</p>
                            </div>
                            <div class="col-md-10">
                                <p>{{ordenCarga.telefonochofer}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <p>Propietario:</p>
                    </div>
                    <div class="col-md-11">
                        <p>{{ordenCarga.nombrepropietario}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <p>C.I./RUC:</p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ordenCarga.rucpropietario}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Dirección:</p>
                            </div>
                            <div class="col-md-9">
                                <p>{{ordenCarga.direccionpropietario}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="phr">
    <div class="col-md-12">
        <p class="pdeclaro">DECLARO HACER RECIBIDO LA CARGA QUE CONSTA EN ESTE DOCUMENTO EN PERFECTO ESTADO, COMPROMETIENDOME A ENTREGAR AL DESTINATARIO EN LAS MISMAS CONDICIONES; Y</p>
        <p class="pdeclaro">ASUMIENDO PLENA RESPONSABILIDAD POR CUALQUIER DAÑO PERJUICIOS O FALTAS QUE VENGAN A OCURRIR.</p>
    </div>
    </div>